{% extends 'layout.html' %}
{% load static %}


{% block title %} Email - Verified {% endblock title %}

{% block content %}
    <div class="flex gap-4 bg-gray-50 items-center justify-center min-h-full min-w-full flex-wrap flex-1">
        <div class="max-w-lg p-16 space-y-4 bg-white border border-gray-300 rounded-3xl shadow-sm" style="border-radius:50px;">
            <h2 class="text-4xl font-bold">Welcome back!</h2>
            <p class='text-base font-medium'>Please enter your details.</p>
            <button>Login</button>
        </div>
    </div>
{% endblock content %}
